<html>
    <body>
        <a href="/">Вернуться назад</a>

        <h1>Работает только для FBS</h1>

        <h1>Для того чтобы получить данные, вам необходимо указать:</h1>
        <p>- Ключ API (он находится в личном кабинете продавца, в разделе Настройки - Доступ к новому API. Вы можете сгенерировать новый ключ и удалить его после использования. Для генерации нового ключа введите в поле Имя токена любое слово, например, wbsticker, и нажмите на оранжевую кнопку Сгенерировать токен. После этого появится сам ключ API, это набор символов. Скопируйте его и вставьте в поле Ключ api на нашем сайте.)</p>
        <p>- номер заказа (№ Задания) из раздела Продажа со склада продавца - Сборочные задания.</p>
    </body>
</html>